<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Dirección
        Email</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" [formControl]="email"
        placeholder="name@example.com">
</div>
<div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Mensaje</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" [formControl]="message" rows="3"></textarea>
</div>
<button type="button" class="btn btn-primary" (click)="sendMessage()">Send Message</button>