<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <p class="display-1">{{title}}</p>
    </div>
    @if (listaPerfilesAsync$ | async; as perfiles) {
      @for (perfil of perfiles; track $index) {
        <div class="col-3">
          <app-fotoperfil [tieneBoton]="perfil.conBoton" [myName]="perfil.nombre" [srcImage]="perfil.foto" />
        </div>
      }
    }
  </div>
</div>

<div class="container-fluid">
  <app-contact-form></app-contact-form>
</div>
<div class="container-fluid">
  <app-contact-list></app-contact-list>
</div>